body{
    background-color:rgb(233, 194, 131); 
    width: 320px; 
    height: 200px;
    font-style: italic;
    color:white;
    font-size: larger; 
    text-align:right;
     margin-top: 130px; 
     margin-left: 400px;
    background-image: url('169978665717844445.avif');
    background-repeat: no-repeat;
    background-size: 1000px;          
    background-position: 900;       
    height: 10vh;                   
                     

}