body{
    background-color:rgb(233, 194, 131); 
    width: 770px; 
    height: 100px;
    font-style: italic;
    text-align:center;
    background-image: url('39da0fc4adb83eeb9bf1c63e77313c25.jpg');
    background-size: cover;          
    background-position: center;       
    height: 10vh;                   
                     

}