body {
    margin: 0;                        /* 기본 여백 제거 */
    height: 93vh;                    /* 화면 높이 100% */
    width: 94vw;                     /* 화면 너비 100% */

    display: flex;                    /* 중앙 정렬 위해 flex 사용 */
    flex-direction: column;           /* 세로 배치 */
    justify-content: center;          /* 세로 중앙 정렬 */
    align-items: center;              /* 가로 중앙 정렬 */

    font-style: italic;
    color: white;
    font-size: 1.2rem;                 /* 폰 화면용 상대 크기 */
    text-align: center;

    background-color: rgb(233, 194, 131); 
    background-image: url('169978665717844445.avif');
    background-repeat: no-repeat;
    background-size: cover;            /* 화면 꽉 채우기 */
    background-position: center;       /* 가운데 정렬 */
}
a {
  color: #ffffff;
  text-decoration: none;
}
