body{
  font-size: 500px; 
    background-color:rgb(233, 194, 131); 
    width: 200px; 
    height: 100px;
    font-style: italic;
    color:white;
    text-align:right;
     margin-top: 200px; 
     margin-left: 10px;
    background-image: url('169978665717844445.avif');
    background-repeat: no-repeat;
    background-size: 1000px;          
    background-position: 900;       
    height: 10vh;         
} 