body{
    font-size: 70px; 
    color:aliceblue;
text-align: center;
    background-image: url('ecc1d7b768f3386447f6cb1de74c22a6.jpg');
    background-size: cover;          
    background-position: center;  
    background-repeat: no-repeat;     
    height: 50vh;                   
}
                  